      <div class="b-line"></div>
      <div class="container">
          <div class="row column">
            <div id="tabs_menu1">
              <h4 class="active">联系我们</h4>
              <h4><a href="/joinus">加入我们</a></h4>
            </div>
            <div class="clearfix"></div>
            <div id="tabs_main1" class="info">
                <iframe src="map.html" frameborder="0" width="100%" height="366" scrolling="no"></iframe>

                <?php echo $articleContent;?>
            </div>
          </div>
      </div>