    <div class="centercontent">
        
        <div id="contentwrapper" class="contentwrapper">

            <div class="contenttitle2">
                <h3>添加会员</h3>
            </div><!--contenttitle-->
            
            <div id="validation" class="subcontent">

                <form id="form1" name="form1" class="stdform" method="post" action="/admin.php/member/save">

                    <p>
                        <label>昵称</label>
                        <span class="field"><input type="text" name="nick" id="nick" class="smallinput" required="required" /></span>
                    </p>

                    <p>
                        <label>手机</label>
                        <span class="field"><input type="text" name="mobile" id="mobile" class="smallinput" required="required" /></span>
                    </p>

                    <p>
                        <label>身份证</label>
                        <span class="field"><input type="text" name="number" id="number" class="smallinput" required="required" /></span>
                    </p>

                    <p>
                        <label>银行卡号</label>
                        <span class="field"><input type="text" name="card" id="card" class="smallinput" required="required" /></span>
                    </p>
                    <!--
                    <p>
                        <label>密码</label>
                        <span class="field"><input type="password" name="pwd" id="pwd" class="smallinput" /></span>
                    </p>

                    <p>
                        <label>确认密码</label>
                        <span class="field"><input type="password" name="newpwd" id="newpwd" class="smallinput"/></span>
                    </p>
                    -->
                    <p>
                        <label>性别</label>
                        <span class="formwrapper">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="sex" checked="checked" value="1" style="opacity: 0;">
                                </span>
                            </div> 男 &nbsp; &nbsp;
                            <div class="radio">
                                <span>
                                    <input type="radio" name="sex" value="0" style="opacity: 0;">
                                </span>
                            </div> 女
                        </span>
                    </p>

                    <p>
                        <label>婚姻状况</label>
                        <span class="field">
                            <select name="marital" id="marital">
                                <option value="">-请选择-</option>
                                <option value="未婚">未婚</option>
                                <option value="已婚">已婚</option>
                                <option value="离异">离异</option>
                                <option value="丧偶">丧偶</option>
                            </select>
                        </span>
                    </p>

                    <p>
                        <label>学历</label>
                        <span class="field">
                            <select name="education" id="education">
                                <option value="">-请选择-</option>
                                <option value="初中">初中</option>
                                <option value="高中">高中</option>
                                <option value="大专">大专</option>
                                <option value="本科">本科</option>
                                <option value="硕士">硕士</option>
                                <option value="博士">博士</option>
                            </select>
                        </span>
                    </p>

                    <p>
                        <label>从事工作</label>
                        <span class="field"><input type="text" name="job" id="job" class="smallinput"/></span>
                    </p>

                    <p>
                        <label>所在地</label>
                        <span class="field" id="prov_city">
                            <select class="prov" name="province"></select> 
                            <select class="city" name="city"><option>请选择</option></select>
                        </span>
                    </p>
                    
                    <p class="stdformbutton">
                        <button class="submit radius2">提 交</button>
                        <button type="button" class="backbutton" onclick="history.back()">返 回</button>
                    </p>
                </form>

            </div><!--subcontent-->
        
        </div><!--contentwrapper-->
        
    </div><!-- centercontent -->
    
    
</div><!--bodywrapper-->
<script>
    jQuery(document).ready(function(){
        jQuery("#prov_city").citySelect({
            nodata: "none",
            required: false
        });
    });
</script>
</body>
</html>
