    </div>
  </div>
    <div id="footer">
      <div class="container">
        <div class="row">
          <ul class="f-tags">
            <li>
              <img src="/public/home/pc/images/expire.png" alt="" />
              <p>到期保本</p>
            </li>
            <li>
              <img src="/public/home/pc/images/goods.png" alt="" />
              <p>优质产品</p>
            </li>
            <li>
              <img src="/public/home/pc/images/double-coins.png" alt="" />
              <p>双币投资</p>
            </li>
            <li>
              <img src="/public/home/pc/images/service7-24.png" alt="" />
              <p>7*24服务</p>
            </li>
            <li>&nbsp;</li>
            <li>
              <img src="/public/home/pc/images/wx.png" alt="" />
              <p>公众号</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright">
          ©2017 大连鑫泰中融管理咨询有限公司&nbsp;&nbsp;&nbsp;&nbsp;|
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=21020402000409" target="_blank"><img src="/public/home/pc/images/icon_ga.png" class="icon" alt=""/>&nbsp;辽公网安备 21020402000409号</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;  
          辽ＩＣＰ备１23456789号
      </div>
    </div>
    <!--
    <div class="hide"><script src="https://s22.cnzz.com/z_stat.php?id=1264549261&web_id=1264549261" language="JavaScript"></script></div>-->
  </body>
</html>