    <div class="centercontent">
    
        <div class="pageheader">
            <h1 class="pagetitle">控制台</h1>
            <span class="pagedesc">页面的描述内容</span>
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        
        	<div id="updates" class="subcontent">
                <div class="notibar announcement">
                    <!--<a class="close"></a>-->
                    <h3>官网管理系统功能介绍</h3>
                    <p>
                        1、使用左侧系统功能导航来完成你的管理任务。<br/><br/>
                        2、对数据进行操作时，所有表单中带有 * 符号的项目都是必须要填写的项目。<br/><br/>
                        3、本系统使用完后点击右上角 【退出后台】 项来退出会更安全。<br/><br/>
                        4、请注意：在更新信息时，请谨慎操作，所有数据将无法恢复。<br/><br/>
                        5、即时反馈给我们使用中的错误信息，我们将为您提供更加优质的服务。<br/><br/>
                        如有其它问题，请通过以下途径联系我：
                        Mail：<a href="mailto:44189483@qq.com" title="发送邮件">44189483@qq.com</a> QQ：44189483
                    </p>
                </div><!-- notification announcement -->
            </div><!-- #updates -->
                    
        </div><!--contentwrapper-->
        
        <br clear="all" />
        
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>