    <div class="centercontent">
        
        <div id="contentwrapper" class="contentwrapper">

            <div class="contenttitle2">
                <h3>基本设置</h3>
            </div><!--contenttitle-->
        	
            <div id="validation" class="subcontent">
            	
                    <form id="form1" class="stdform" method="post" action="">
                    	<p>
                        	<label>用户总量(首页)</label>
                            <span class="field">
                                <input type="text" name="total_users" id="total_users" class="smallinput" value="<?php echo $total_users;?>"/> 人
                            </span>
                        </p>
                        
                        <p>
                        	<label>用户投资总额(首页)</label>
                            <span class="field"><input type="text" name="total_investment" id="total_investment" class="smallinput" value="<?php echo $total_investment;?>"/> 万</span>
                        </p>
                        
                        <p>
                        	<label>近半年交易额(首页)</label>
                            <span class="field"><input type="text" name="half_year_turnover" id="half_year_turnover" class="smallinput" value="<?php echo $half_year_turnover;?>"/> 万</span>
                        </p>
                        
                        <p class="stdformbutton">
                        	<button type="submit" class="submit radius2">提交</button>
                            <button type="button" class="backbutton" onclick="history.back()">返 回</button>
                        </p>
                    </form>

            </div><!--subcontent-->
        
        </div><!--contentwrapper-->
        
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>
</html>
