    <div class="centercontent">
        
        <div id="contentwrapper" class="contentwrapper">

            <div class="contenttitle2">
                <h3>编辑业务员</h3>
            </div><!--contenttitle-->
            
            <div id="validation" class="subcontent">

                <form id="form1" name="form1" class="stdform" method="post" action="/admin.php/salesman/save">

                    <p>
                        <label>姓名</label>
                        <span class="field"><input type="text" name="name" id="name" class="smallinput" required="required" value="<?php echo $realname;?>" /></span>
                    </p>

                    <p>
                        <label>性别</label>
                        <span class="field">
                            <input type="radio" name="sex" value="1" <?php if ($sex == 1):?>checked="checked"<?php endif;?> /> 男
                            <input type="radio" name="sex" value="0" <?php if ($sex == 0):?>checked="checked"<?php endif;?> /> 女
                        </span>
                    </p>

                    <p>
                        <label>出生日期</label>
                        <span class="field"><input type="text" name="birth" id="birth" class="smallinput" required="required" readonly="readonly" value="<?php echo $birth;?>"/></span>
                    </p>
                    
                    <p>
                        <label>身份证</label>
                        <span class="field"><input type="text" name="number" id="number" class="smallinput" required="required" value="<?php echo $identificationNumber;?>"/></span>
                    </p>

                    <p>
                        <label>手机号</label>
                        <span class="field"><input type="text" name="mobile" id="mobile" class="smallinput" required="required" value="<?php echo $mobile;?>" /></span>
                    </p>

                    <p>
                        <label>邮箱</label>
                        <span class="field"><input type="text" name="email" id="email" class="smallinput" required="required" value="<?php echo $email;?>" /></span>
                    </p>

                    <p>
                        <label>所在地</label>
                        <span class="field" id="prov_city">
                            <select class="prov" name="province"></select> 
                            <select class="city" name="city"><option>请选择</option></select>
                        </span>
                    </p>
                    
                    <p class="stdformbutton">
                        <input type="hidden" name="id" id="id" value="<?php echo $id;?>" />
                        <button class="submit radius2">提 交</button>
                        <button type="button" class="backbutton" onclick="history.back()">返 回</button>
                    </p>
                </form>

            </div><!--subcontent-->
        
        </div><!--contentwrapper-->
        
    </div><!-- centercontent -->
    
    
</div><!--bodywrapper-->
<script>
    jQuery(document).ready(function(){
        jQuery('#birth').datepicker({
            dateFormat: "yy-mm-dd"
        });
        jQuery("#prov_city").citySelect({prov:"<?php echo $province;?>", city:"<?php echo $city;?>"});
    });
</script>
</body>
</html>
