<div class="vernav2 iconmenu">
	<ul>
		<li <?php if($cname=='Option'):?>class="current"<?php endif?>><a href="/admin.php/option"><i class="fa fa-cog"></i> <span class="nav-label">基本设置</span></a></li>
        <li <?php if($cname=='Slide'):?>class="current"<?php endif?>><a href="/admin.php/slide"><i class="fa fa-picture-o"></i> <span class="nav-label">轮播图</span></a></li>
        <li <?php if($cname=='Salesman'):?>class="current"<?php endif?>><a href="/admin.php/salesman"><i class="fa fa-group"></i> <span class="nav-label">业务员管理</span></a></li>
        <li <?php if($cname=='Project' || $cname=='User'):?>class="current"<?php endif?>><a href="#pro" class="editor"><i class="fa fa-rmb"></i> 出借管理</a>
            <span class="arrow"></span>
            <ul id="pro">
                <li <?php if($cname=='Project'):?>class="current"<?php endif?>><a href="/admin.php/project">出借列表</a></li>
                <li <?php if($cname=='User'):?>class="current"<?php endif?>><a href="/admin.php/user">借款人</a></li>
            </ul>
        </li>
        <li <?php if($cname=='Regprotocol'):?>class="current"<?php endif?>><a href="/admin.php/regprotocol"><i class="fa fa-edit"></i> <span class="nav-label">注册协议</span></a></li>
        <li <?php if($cname=='Member'):?>class="current"<?php endif?>><a href="/admin.php/member"><i class="fa fa-user-o"></i> <span class="nav-label">会员管理</span></a></li>
        <li <?php if($cname=='Notice'):?>class="current"<?php endif?>><a href="/admin.php/notice"><i class="fa fa-bell-o"></i> <span class="nav-label">公告管理</span></a></li>
        <li <?php if($cname=='News' || $cname=='Category'):?>class="current"<?php endif?>><a href="#news" class="editor"><i class="fa fa-newspaper-o"></i> 新闻管理</a>
            <span class="arrow"></span>
            <ul id="news">
                <li <?php if($cname=='Category'):?>class="current"<?php endif?>><a href="/admin.php/category/index/1">新闻分类</a></li>
                <li <?php if($cname=='News'):?>class="current"<?php endif?>><a href="/admin.php/news">新闻内容</a></li>
            </ul>
        </li> 
        <li <?php if($cname=='Information'):?>class="current"<?php endif?>><a href="/admin.php/information"><i class="fa fa-vcard-o"></i> <span class="nav-label">信息披露</span></a></li>

        <li <?php if($cname=='ContactUs' || $cname=='JoinUs'):?>class="current"<?php endif?>><a href="#contact" class="editor"><i class="fa fa-phone"></i> 联系我们</a>
            <span class="arrow"></span>
            <ul id="contact">
                <li <?php if($cname=='ContactUs'):?>class="current"<?php endif?>><a href="/admin.php/contactus">联系我们</a></li>
                <li <?php if($cname=='JoinUs'):?>class="current"<?php endif?>><a href="/admin.php/joinus">加入我们</a></li>
            </ul>
        </li>

        <li><a href="http://new.cnzz.com/v1/login.php?siteid=1264549261" target="_blank"><i class="fa fa-bar-chart"></i> <span class="nav-label">站点统计</span></a></li>
    </ul>
    <a class="togglemenu"></a>
    <br /><br />
</div>